/*
|
| Added back again because in chrome this is not using and light house also saying not used.
| But in mozilla all fonts are gone which creating problem.
|
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* main imports */
@import 'main/rango';
@import 'main/icons';
@import 'main/mixins';
@import 'main/variables';

/* shared components */
@import 'components/webkit';
@import 'components/shared';
@import 'components/tags';
@import 'components/buttons';
@import 'components/shaka';

/* components */
@import 'components/UI';
@import 'components/app';
@import 'components/home';
@import 'components/footer';
@import 'components/product-view';
@import 'components/rtl';
@import 'components/datagrid';
@import 'components/master';
@import 'components/gift-card';
@import 'components/customer';
@import 'components/media';

/* static */
@import 'static/material-icons';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.heading-1 {
    font-size: 3rem;
}

.form-control {
    &:focus {
        @include box-shadow(0px 0px 8px 1px rgba(105, 221, 157, 0.25));
    }
}

.vue-slider .vue-slider-dot-handle{
    background-color: $gray !important;
}

.main-container-wrapper .sticky-header.header-shadow {
    background-color: $gray !important;
}
.vue-slider .vue-slider-process {
    background-color: $light-gray !important;
}

.zoomContainer {
    height: auto!important;
    width: 100%;
}

.active-route {
    display: block;
    position: relative;
}

.active-route::after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: $theme-color !important;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    opacity: 0.7 !important;
}

.product-image-container {
    position: relative;
    display: block;
}

.sticker-new {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
}

.product-image-container:hover .product-actions {
    background-color: $bg-darker-color !important;
}

.product-image-container:hover .product-actions .add-to-cart-btn {
    display: block !important;
}

.about-container {
    padding-top: 300px;
    padding-bottom: 280px !important;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*margin-top: -150px!important;*/
}

.about-content {
    margin-top: -150px !important;
}

.product-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    color: $white;
    //display: none;
    background-color: rgba(255, 255, 255, 0) !important;
}

.product-actions .add-to-cart-btn {
    display: none !important;
}

.collection {
    position: relative;
}

.collection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top {
    @include box-shadow(0 0 0 0 rgba(0, 0, 0, 0.24));

    margin: 0;
    min-height: 32px;
    color: $font-color;
    border-bottom: 1px solid $border-common;

    .btn {
        font-family: $font-family-pro;
        font-size: 14px;
        letter-spacing: 0;
        text-align: center;
        @include border-radius(0px);
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            outline: none;
            outline-offset: 0;
        }

        &:active:hover {
            outline: none;
            outline-offset: 0;
        }
    }

    .btn-normal {
        background: $button-primary-bg;
        border-color: $border-primary;
        color: $white;
        font-weight: 600;

        &:hover {
            background: $white;
            border-color: $button-primary-bg;
            color: $button-primary-bg;
        }

        &:active:hover {
            background: $white;
            border-color: $button-primary-bg;
            color: $button-primary-bg;
        }

        &:active:focus {
            background: $white;
            border-color: $button-primary-bg;
            color: $button-primary-bg;
        }
    }

    .btn-link {
        color: $font-color;
    }

    .dropdown-menu-large {
        min-width: 250px;
        left: -100px;
    }

    .customer-name {
        font-size: 16px;
        font-weight: 600;
        padding: 0 10px;
        color: $font-color;
    }

    #account {
        font-size: 14px;

        .select-icon {
            top: 0;
            left: 0;
            padding-left: 5px;
        }

        .profile-small-icon {
            width: 20px;
            margin-right: 5px;
            height: 20px;
            border-radius: 50%;
            vertical-align: top;
        }

        .welcome-content {
            @extend .unselectable;

            display: table;
            min-width: 150px;
            cursor: pointer;
            float: right;
            text-align: right;
            padding-top: 5px;

            * {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .dropdown-list {
            top: 40px;
            right: 10px;

            .modal-header {
                padding: 20px;
            }

            .content {
                padding: 5px 20px 15px 20px;
            }

            .modal-footer {
                .theme-btn {
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }

    > div:last-child {
        height: 32px;
    }

    > div {
        .default {
            padding: 5px;
            font-size: 14px;
        }
    }

    .locale-icon {
        width: 20px;
        display: inline-block;

        img {
            width: 100%;
        }
    }

    .locale-switcher {
        padding-left: 5px;
        position: relative;
        padding-right: 15px;
        text-align: left;
        cursor: pointer;
    }

    .dropdown {
        margin-right: 15px;

        .select-icon-container {
            .select-icon {
                right: 0;
            }
        }
    }
}

.dropdown-menu {
    border-top: 3px solid $border-primary;
    border-radius: 0;
    background: $white;
    @include box-shadow(11px 10px 17px 0 rgba(0, 0, 0, 0.21));

    li {
        a {
            &:hover {
                background: $button-primary-bg;
                color: $white;
            }

            &:focus {
                background: $button-primary-bg;
                color: $white;
            }

            .dropdown-menu {
                li {
                    a {
                        &:focus {
                            background: $button-primary-bg;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

#nav-menu {
    margin: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.24);
    background-color:$white;

    .navbar {
        margin: 0;
        font-size: 16px;
        color: $font-color;
        letter-spacing: 0;
        cursor: pointer;
        min-height: 40px;
        position: relative;

        .navbar-header {
            width: 100%;
            display: inline-block;

            .main-category {
                width: 100%;
                overflow: hidden;
                position: relative;
                display: inline-block;
                padding: 5px 5px 5px 35px;

                .material-icons {
                    position: absolute;
                    left: 0;
                    top: 2px;
                    font-size: 28px;
                }
            }
        }

        .category-dropdown {
            position: absolute;
            top: 40px;
            background: $white;
            left: 0;
            width: 100%;
            height: 525px;

            li.category-list {
                width: 100%;
                display: inline-block;
                background: $white;
                position: relative;

                a {
                    padding: 10px 0;
                    position: relative;
                    font-weight: 600;
                    font-size: 14px;
                    color: $font-color;
                    letter-spacing: 0;
                    display: block;

                    .material-icons {
                        position: absolute;
                        right: 0;
                        top: 8px;
                    }

                    &:hover {
                        color: #28557b;
                        text-decoration: none;
                        background-color: $light-background;
                    }
                }

                .child-container {
                    position: absolute;
                    top: 0;
                    background-color: #ccc;
                    left: 283px;
                    width: 250px;
                    height: 350px;
                }
            }
        }
    }

    .secondary-navbar {
        background-color:$theme-light-color;
        min-height: 40px;
        padding: 5px;
        vertical-align: middle;
        text-align: left;
        margin: 0;
        list-style: none;
        height: auto;
        display: inline-block;
        width: 100%;

        li {
            float: left;

            a {
                display: block;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                position: relative;
                color: $white;
                text-decoration: none;
                padding: 5px 20px 5px 5px;
            }
        }
    }
}

.viewed-products .viewed-products-listing {
    border: 1px solid white;
    background-color: $light-background;
}

.viewed-products .viewed-products-listing .product-image {
    display: inline-block;
}

.viewed-products .viewed-products-listing .product-description {
    display: inline-block;
}

.viewed-products .viewed-products-listing .product-description div {
    padding-top: 2px;
}

.customer-reviews .first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.customer-reviews .second-row {
    width: 100%;
    display: inline-block;
}

.customer-reviews .second-row .reviews-listing {
    background: $white;
    padding-right: 10px;
    -webkit-box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.11);
}

.customer-reviews .second-row .review-grid {
    display: grid;
    width: 345px;
    height: 262px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.categories-grid-customizable .category-grid {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.categories-grid-customizable .category-grid .category-image {
    border: 1px solid $border-danger;
}

.categories-grid-customizable .category-grid .category-details {
    border: 1px solid $border-primary;
}

.categories-grid-customizable .category-grid .category-details h3 {
    color: $white;
    text-align: center;
}

.categories-grid-customizable .category-grid .category-details li {
    color: $white;
    text-align: center;
    list-style-type: none;
}

.product-policy {
    padding: 30px 0 50px 0;
    border: 1px solid $danger-color;
    text-align: center;
}

.popular-products {
    height: auto;
    width: 100%;
    padding-right: 10px;
}

.popular-products .second-row .popular-products-listing {
    border: 1px solid $border-danger;
}

.popular-products,
.second-row,
.popular-products-listing,
.product-buttons{
    border: $theme-color !important;
    border-radius: 0;
}

.popular-products,
.second-row,
.popular-products-listing,
.product-buttons{
    text-transform: uppercase;
    background-color: $theme-color;
}

.customer-name {
    display: table-cell;
    height: 54px;
    width: 56px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: $button-primary-bg;
    color: $white;
    padding: 16px;
    font: 18px $font-family-pro;
}

i.within-circle {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px $light-gray;
    padding: 12px;
    margin: 15px 0 15px 0;
    width: 50px;
    height: 50px;
}

.center_div {
    margin: 0 auto;
    width: 80%;
}

.form-style {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: $font-color;
    background-color: $white;
    background-image: none;
    border: 1px solid $white;
    border-radius: 0;
}

.label-style {
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 100 !important;
    font-size: 16px !important;
}

.w3-card-2 {
    box-shadow: 0 2px 5px 0 $border-shadow,
    0 2px 10px 0 $border-shadow;
    float: right;
    height: 36px;
    width: 133px;
}

.w3-card-login {
    box-shadow: 0 2px 5px 0 $border-shadow,
    0 2px 10px 0 $border-shadow;
    float: right;
    height: 36px;
    width: 71px;
}

.login-text {
    height: 65px;
    width: 575px;
    border: 1px $white;
    margin: 0 auto;
}

.row:before,
.row:after {
    display: none !important;
}

// image wrapper
.image-wrapper {
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    width: 100%;

    .image-item {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        background: $white;
        @include border-radius(3px);
        display: inline-block;
        position: relative;
        background-image: url('../../../../publishable/assets/images/placeholder-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
        float: left;
        background-size: 75%;

        img.preview {
            width: 100%;
            height: 100%;
        }

        input {
            display: none;
        }

        .remove-image {
            background-image: linear-gradient(
                    -180deg,
                    rgba(0, 0, 0, 0.08) 0%,
                    rgba(0, 0, 0, 0.24) 100%
            );
            @include border-radius(0 0 4px 4px);
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            color: $white;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
            margin-right: 20px;
            cursor: pointer;
        }

        &:hover .remove-image {
            display: block;
        }

        &.has-image {
            background-image: none;
        }
    }
}

/* Category Filter UI Responsivenes */
.category-page-wrapper .category-container .filters-container {
    left: 0;
    top: 30px;
    padding: 0;
    width: 96%;
    z-index: 9;
    position: unset;
    margin-left: 7px;
    padding-bottom: 7px;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filters-container .toolbar-wrapper > div select {
    cursor: pointer;
    padding: 6px 8px;
    color: $font-color;
    background-color: $white;
}

.filters-container .toolbar-wrapper > div {
    margin: 0 30px;
}

.velocity-divide-page .right {
    width: 99% !important;
}

.main-content-wrapper .content-list ul {
    width: 101.2% !important;
}

.badge-container .badge {
    border-radius: 50%;
}
.show-password {
    margin-top: 10px !important;
}

.category {
    line-height: 2.0rem !important;
}

.sub-category {
    padding-left: 0 !important;
    padding-top: 0 !important;
    line-height: 2.0rem !important;

    i {
        margin-top: 8px !important;
    }
}