/* theme colors */
$theme-color: #1197C2;
$theme-dark-color: #0A7A9D;
$theme-light-color: #4d7ea8;

/* background colors */
$bg-dark-color: #0A3640;
$bg-darker-color:#052A32;
$bg-black:#090909;
$bg-gray: rgba(48, 43, 48, 0.8);
$bg-light: #EEEEE9;
$light-background: #F7F7F9;

/* font */
$font-family-pro: 'Outfit', sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-color: rgba(0,0,0,0.83);
$gray: #232427;
$light-gray:#777777;
$font-color-light: rgba(255, 255, 255, 0.83);

/* button colors */
$button-danger: #f6696b;
$button-primary-bg: #1197C2;
$button-text-color: #FFFFFF;

/* border colors */
$border-common: #CCCCCC;
$border-danger: #f6696b;
$border-dark: #DCDCDC;
$border-general: #E5E5E5;
$border-light: #ECECEC;
$border-primary: #1197C2;
$border-normal: 1px solid $border-dark;
$control-border-color: #b9b9b9;
$border-shadow:rgba(0, 0, 0, 0.16);

/* link colors */
$link-color: #1197C2;
$light-link-color: #28557B;
$footer-gray: #a1a1a1;

/* remaining colors */
$black: #111111;
$light-black:rgb(58, 58, 58);
$grey: rgb(158, 158, 158);
$white: #FFFFFF;
$white-color: #DADADA;
$danger-color: #dc4f51;
$light1-black: #141516;
$light2-black: #cfcfd0;

/* other stuffs */
$sidebar-width: 230px;
$material-icons-font-path: '../material-icons/iconfont/' !default;

$selection-color: rgba(0, 64, 255, 0.6);
$brand-color: #1197C2;

/* input fields */
$input-checkbox-size: 20px;