input[type='checkbox'].shaka-checkbox {
    width: $input-checkbox-size;
    height: $input-checkbox-size;
    outline: transparent;
    border-radius: 100px;
    accent-color: $theme-color;
}

.material-icons {
    font-family: 'Material Icons', sans-serif !important;
}

.text-shaka-primary {
    color: $theme-color !important;
}

//h1, h2, h3, h4, h5, h6 {
//    font-family: 'Open Sans', serif;
//    letter-spacing: 2px;
//    font-size: 3rem;
//    text-transform: uppercase;
//}

.bnt-shaka-primary {
    color: $theme-color !important;
    border-radius: 8px !important;
    font-size: 16px !important;
    font-family: 'Outfit', sans-serif !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    padding: 8px 22px !important;
}

.bnt-shaka-primary:hover {
    color: $theme-dark-color;
}

.outline-btn {
    color: $theme-dark-color !important;
    background-color: $white-color !important;
    border: 2px solid $theme-dark-color !important;
}

.outline-btn:hover {
    background-color: rgba(183, 183, 183, 0.33) !important;
    text-decoration: none;
}


